<div class="tz-services">
  <article class="tz-service tz-service--featured" data-service="maaien-en-bosmaaien">
    <div class="tz-media tz-media--16x9"><img src="{{img:photos/client/maaien-gestreept.jpg}}" alt="Gestreept gemaaid gazon voor een beukenhaag" loading="lazy"></div>
    <div class="tz-service__body">
      <span class="tz-icon-chip tz-icon-chip--solid tz-service__icon">{{icon:mower}}</span>
      <span class="tz-service__sub">Strak gazon, nette randen</span>
      <h3 class="tz-service__title"><a href="/diensten/maaien-en-bosmaaien">Maaien en bosmaaien</a></h3>
      <p class="tz-service__summary">Een strak en gezond gazon is het visitekaartje van uw tuin. Wij maaien op de juiste hoogte en werken randen, bermen en moeilijk bereikbare plekken bij met de bosmaaier.</p>
      <ul class="tz-service__list"><li>{{icon:check}}Regelmatig maaien op de juiste grashoogte</li><li>{{icon:check}}Randen, bermen en taluds met de bosmaaier</li><li>{{icon:check}}Maaisel netjes afgevoerd</li></ul>
      <div class="tz-service__foot"><span>Meer info</span><span class="tz-service__go" aria-hidden="true">{{icon:arrow-right}}</span></div>
    </div>
  </article>
  <article class="tz-service" data-service="gazononderhoud">
    <div class="tz-media tz-media--4x3"><img src="{{img:photos/client/grasmat-voortuin.jpg}}" alt="Pas gelegde graszoden in een voortuin langs een pad" loading="lazy"></div>
    <div class="tz-service__body">
      <span class="tz-icon-chip tz-icon-chip--solid tz-service__icon">{{icon:grass}}</span>
      <span class="tz-service__sub">Verticuteren en graszoden leggen</span>
      <h3 class="tz-service__title"><a href="/diensten/gazononderhoud">Gazononderhoud</a></h3>
      <p class="tz-service__summary">Mos en vilt eruit, lucht en licht erin. Of meteen een nieuw, groen gazon met graszoden.</p>
      <div class="tz-service__foot"><span>Meer info</span><span class="tz-service__go" aria-hidden="true">{{icon:arrow-right}}</span></div>
    </div>
  </article>
  <article class="tz-service" data-service="onkruidbestrijding">
    <div class="tz-media tz-media--4x3"><div class="tz-media__empty">{{icon:image-plus}}<span class="tz-media__ratio">4:3</span><span class="tz-media__field">services.cover_image_id<br>Foto volgt</span></div></div>
    <div class="tz-service__body">
      <span class="tz-icon-chip tz-icon-chip--solid tz-service__icon">{{icon:shovel}}</span>
      <span class="tz-service__sub">Borders, paden en bestrating</span>
      <h3 class="tz-service__title"><a href="/diensten/onkruidbestrijding">Onkruidbestrijding</a></h3>
      <p class="tz-service__summary">Wij verwijderen onkruid zorgvuldig uit tuin, borders en bestrating voor een nette uitstraling.</p>
      <div class="tz-service__foot"><span>Meer info</span><span class="tz-service__go" aria-hidden="true">{{icon:arrow-right}}</span></div>
    </div>
  </article>
  <article class="tz-service" data-service="snoeien">
    <div class="tz-media tz-media--4x3"><img src="{{img:photos/client/haag-tegelpad.jpg}}" alt="Strak gesnoeide haag langs een tegelpad" loading="lazy"></div>
    <div class="tz-service__body">
      <span class="tz-icon-chip tz-icon-chip--solid tz-service__icon">{{icon:scissors}}</span>
      <span class="tz-service__sub">Hagen, struiken en bomen</span>
      <h3 class="tz-service__title"><a href="/diensten/snoeien">Snoeien</a></h3>
      <p class="tz-service__summary">Op het juiste moment en met de juiste techniek, zodat uw planten gezond blijven en netjes groeien.</p>
      <div class="tz-service__foot"><span>Meer info</span><span class="tz-service__go" aria-hidden="true">{{icon:arrow-right}}</span></div>
    </div>
  </article>
  <article class="tz-service" data-service="lamellen-plaatsen">
    <div class="tz-media tz-media--4x3"><img src="{{img:photos/client/lamellen-border.jpg}}" alt="Draadafsluiting met zwarte lamellen achter een nieuwe border" loading="lazy"></div>
    <div class="tz-service__body">
      <span class="tz-icon-chip tz-icon-chip--solid tz-service__icon">{{icon:fence}}</span>
      <span class="tz-service__sub">In uw draadafsluiting</span>
      <h3 class="tz-service__title"><a href="/diensten/lamellen-plaatsen">Lamellen plaatsen</a></h3>
      <p class="tz-service__summary">Meer privacy en beschutting met lamellen in uw draadafsluiting, vakkundig geplaatst.</p>
      <div class="tz-service__foot"><span>Meer info</span><span class="tz-service__go" aria-hidden="true">{{icon:arrow-right}}</span></div>
    </div>
  </article>
  <article class="tz-service" data-service="tuinafboording">
    <div class="tz-media tz-media--4x3"><img src="{{img:photos/client/cortenstaal-border.jpg}}" alt="Gebogen border met cortenstalen afboording rond een terras" loading="lazy"></div>
    <div class="tz-service__body">
      <span class="tz-icon-chip tz-icon-chip--solid tz-service__icon">{{icon:ruler}}</span>
      <span class="tz-service__sub">Ook in cortenstaal</span>
      <h3 class="tz-service__title"><a href="/diensten/tuinafboording">Tuinafboording</a></h3>
      <p class="tz-service__summary">Een strakke, duurzame scheiding tussen gazon, borders en paden.</p>
      <div class="tz-service__foot"><span>Meer info</span><span class="tz-service__go" aria-hidden="true">{{icon:arrow-right}}</span></div>
    </div>
  </article>
  <article class="tz-service" data-service="materialen-invoeren">
    <div class="tz-media tz-media--4x3"><img src="{{img:photos/client/schors-kastanjehek.jpg}}" alt="Gebogen border met houtschors langs een kastanjehouten hek" loading="lazy"></div>
    <div class="tz-service__body">
      <span class="tz-icon-chip tz-icon-chip--solid tz-service__icon">{{icon:layers}}</span>
      <span class="tz-service__sub">Schors, grind en meer</span>
      <h3 class="tz-service__title"><a href="/diensten/materialen-invoeren">Materialen invoeren</a></h3>
      <p class="tz-service__summary">Wij leveren en verspreiden schors en grind voor paden en borders. Dat beperkt ook onkruidgroei.</p>
      <div class="tz-service__foot"><span>Meer info</span><span class="tz-service__go" aria-hidden="true">{{icon:arrow-right}}</span></div>
    </div>
  </article>
</div>
